<template>
  <div class="good-wrap" fixed v-if="type">
    <loading :loading="gLoading" text="正在提交" />
    <van-nav-bar
      left-arrow
      :title="type"
      right-text="完成"
      @click-left="back"
      @click-right="submit"
    />
    <van-cell-group>
      <!-- 商品分类 -->
      <van-field
        v-model="category"
        label="分类"
        @focus="(e) => focus(e, 'category')"
        placeholder="请选择商品分类"
      />
      <van-popup v-model="popup.category" position="bottom">
        <van-picker
          show-toolbar
          title="商品分类"
          :columns="categories"
          value-key="name"
          @cancel="() => onCancel('category')"
          @confirm="(value, index) => onConfirm('category',value, index)"
        />
      </van-popup>

      <!-- 商品名称 -->
      <van-field
        v-model="form.name"
        label="商品名称"
        placeholder="请填写商品名称"
      />

      <!-- 商品库存量 -->
      <van-field
        v-model="form.stock"
        label="库存量"
        placeholder="请填写商品的库存量"
      />

      <!-- 商品价格 -->
      <van-field
        v-model="form.price"
        label="价格"
        type="number"
        step="0.01"
        placeholder="请填写商品价格"
      />

      <!-- 商品进价 -->
      <van-field
        v-model="form.cost"
        type="number"
        label="进价"
        step="0.01"
        placeholder="请填写商品的进价"
      />

      <!-- 商品计量方式 -->
      <van-field
        v-model="method"
        label="计量方式"
        @focus="(e) => focus(e, 'method')"
        placeholder="请选择计量方式"
      />
      <van-popup v-model="popup.method" position="bottom">
        <van-picker
          show-toolbar
          value-key="name"
          title="计量方式"
          :columns="methods"
          @cancel="() => onCancel('method')"
          @confirm="(value, index) => onConfirm('method',value, index)"
        />
      </van-popup>

      <!-- 计量单位 -->
      <van-field
        v-model="form.unit"
        label="计量单位"
        placeholder="请填写计量单位"
      />

      <!-- 商品介绍 -->
      <van-field
        v-model="form.intro"
        label="商品简介"
        type="textarea"
        placeholder="请简单的介绍下商品"
        rows="1"
        autosize
      />

      <!-- 商品图片 -->
      <van-cell>
        <div class="cell-box" slot="title">
          <span class="van-cell-text">商品图片</span>
          <div style="flex:1;textAlign: center;">
            <van-uploader
              :after-read="(file) => onRead(file, 'Pic')"
              accept="image/gif, image/jpeg" multiple
            >
              <img :src="picurl" alt="" v-if="picurl" width="200" height="120">
              <van-icon name="photograph" v-else />
            </van-uploader>
          </div>
        </div>
      </van-cell>

    </van-cell-group>
  </div>
</template>

<script>
import {
  CellSwipe, Cell, CellGroup,
  Tag, Checkbox, NavBar,
  Row, Col, Button, Icon, Field,
  Picker, Popup, Uploader, Toast
} from 'vant'
import Loading from '@/components/Loading'
import { API } from '@/utils/api'
export default {
  name: 'Good',
  data () {
    return {
      gLoading: false,
      type: '',
      shopid: '',
      form: {
        name: '',
        category: '',
        stock: '',
        price: '',
        cost: '',
        intro: '',
        method: -1,
        unit: ''
      },
      picurl: '',
      file: null,
      category: '',
      method: '',
      popup: {
        category: false,
        method: false
      },
      categories: [],
      methods: [{name: '计重', id: 0}, {name: '计件', id: 1}]
    }
  },
  components: {
    [Cell.name]: Cell,
    [CellGroup.name]: CellGroup,
    [CellSwipe.name]: CellSwipe,
    [Tag.name]: Tag,
    [Checkbox.name]: Checkbox,
    [NavBar.name]: NavBar,
    [Row.name]: Row,
    [Col.name]: Col,
    [Button.name]: Button,
    [Icon.name]: Icon,
    [Field.name]: Field,
    [Picker.name]: Picker,
    [Popup.name]: Popup,
    [Uploader.name]: Uploader,
    [Toast.name]: Toast,
    Loading
  },
  mounted () {
    const isAdd = this.$route.query.add
    this.shopid = this.$route.query.shopid
    this.type = isAdd ? '新增商品' : '修改商品'
    if (!isAdd) {
      let good = JSON.parse(localStorage.getItem('good'))
      good.cost = parseFloat(good.cost)
      this.form = good
      let { id, name } = good.category
      this.form.category = parseInt(id)
      this.category = name
      let method = parseInt(good.method)
      this.form.method = method
      this.method = this.methods[this.methods.findIndex(item => item.id === method)].name
    }
    this.categories = JSON.parse(localStorage.getItem('types'))
  },
  methods: {
    back () {
      this.$router.push({name: 'Good',
        query: {
          shopid: this.shopid,
          category: this.$route.query.category
        }
      })
    },
    verify () {
      if (!this.form.name) {
        this.$toast('商品名称为必填项')
        return false
      }
      if (!this.category) {
        this.$toast('商品分类为必填项')
        return false
      }
      return true
    },
    submit () {
      if (!this.verify()) return false
      this.gLoading = true
      let url = this.$route.query.add ? 'addGood' : 'modifyGood'
      let msg = this.$route.query.add ? '新增成功' : '修改成功'
      let config = {
        headers: { 'Content-Type': 'multipart/form-data' }
      }
      let formData = new FormData()
      let good = JSON.parse(JSON.stringify(this.form))
      let keys = ['name', 'category', 'stock', 'price', 'cost', 'intro']
      keys.forEach(key => {
        good[key] && formData.append(key, good[key])
      })
      formData.append('type', 1)
      formData.append('shopid', this.shopid)
      this.file && formData.append('picurl', this.file, this.file.name)
      good.gid && formData.append('goods', good.gid)
      this.axios.post(API[url], formData, config).then(data => {
        this.gLoading = false
        this.$toast(msg)
        this.$router.push({name: 'Good',
          query: {
            shopid: this.shopid,
            category: this.form.category
          }
        })
      }).catch(e => {
        this.gLoading = false
      })
    },
    onCancel (key) {
      this.popup[key] = false
    },
    onConfirm (key, value, index) {
      this.form[key] = value.id
      this[key] = value.name
      this.popup[key] = false
    },
    focus (e, key) {
      document.activeElement.blur()
      this.popup[key] = true
    },
    onRead ({content, file}, type) {
      this.picurl = content
      this.file = file
    }
  }
}
</script>

<style scoped>
.cell-box {
  display: flex;
  align-items: flex-start;
}
.cell-box span {
  width: 90px;
  display: block;
}
</style>

<style>
.good-wrap .van-cell__value {
  color: #888;
}
.good-wrap .van-cell-swipe__right {
  width: 130Px;
  display: flex;
}
.good-wrap .van-checkbox--checked {
  background-color: #08979c;
  border-color: #08979c;
}
.good-wrap .van-nav-bar {
  background-color: #08979c;
  color: #fff;
}
.good-wrap .van-nav-bar__text {
  color: #fff;
}
.good-wrap .van-nav-bar .van-icon {
  color: #fff;
}
</style>
