<template>
  <div class="good-wrap" fixed>
    <loading :loading="gLoading" text="正在删除" />
    <van-nav-bar
      left-arrow
      title="商品管理"
      fixed
      right-text="退出"
      @click-left="back"
      @click-right="logout"
    />

    <!-- 排序框 -->
    <van-row class="line-bottom sort-box">
      <van-col span="6" class="sort-item">
        <span class="sort-title">名称</span>
        <span class="sort-arrow" @click="() => changeSort('name')">
          <i :class="['iconfont','icon-up',{ 'arrow-active': sort.name === 1}]"></i>
          <i :class="['iconfont','icon-down',{ 'arrow-active': sort.name === -1}]"></i>
        </span>
      </van-col>
      <van-col span="6" class="sort-item">
        <span class="sort-title">库存量</span>
        <span class="sort-arrow" @click="() => changeSort('stock')">
          <i :class="['iconfont','icon-up',{ 'arrow-active': sort.stock === 1}]"></i>
          <i :class="['iconfont','icon-down',{ 'arrow-active': sort.stock === -1}]"></i>
        </span>
      </van-col>
      <van-col span="6" class="sort-item">
        <span class="sort-title">价格</span>
        <span class="sort-arrow" @click="() => changeSort('price')">
          <i :class="['iconfont','icon-up',{ 'arrow-active': sort.price === 1}]"></i>
          <i :class="['iconfont','icon-down',{ 'arrow-active': sort.price === -1}]"></i>
        </span>
      </van-col>
      <van-col span="6" class="sort-item type-select">
        <type-select v-model="type" v-if="type" />
      </van-col>
    </van-row>

    <!-- 列表 -->
    <van-list
      v-model="loading.loadmore"
      :finished="finished"
      :immediate-check="false"
      @load="() => getData(1)"
    >
      <van-cell-swipe :right-width="130" v-for="(item,i) in list" :key="item.id">
        <van-cell-group>
          <van-cell>
            <template slot="title">
              <van-row>
                <van-col span="4">
                  <van-checkbox v-model="item.checked" @change="changeCheck"></van-checkbox>
                </van-col>
                <van-col span="20"><good-card :good="item" /></van-col>
              </van-row>
            </template>
          </van-cell>
        </van-cell-group>
        <template slot="right">
          <span class="edit-btn operate-btn" @click.stop="edit(i)">编辑</span>
          <span class="del-btn operate-btn" @click.stop="del(i)">删除</span>
        </template>
      </van-cell-swipe>
    </van-list>

    <p class="nomore" v-if="finished && list.length">没有更多了～</p>
    <p class="nomore" v-if="!list.length && !loading.first">店铺内暂无任何货物</p>
    <p class="nomore" v-if="loading.first && !loading.loadmore">加载中...</p>

    <van-row class="bottom-box line-top">
      <van-col span="8">
        <van-button class="add-btn" bottom-action>
          <van-checkbox v-model="checkAll" @click.native="changeAll">全选</van-checkbox>
        </van-button>
      </van-col>
      <van-col span="8" class="line-left">
        <van-button bottom-action class="add-btn" @click.native="delAll">删除</van-button>
      </van-col>
      <van-col span="8" class="line-left">
        <van-button class="add-btn" bottom-action @click.native="add">新增商品</van-button>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import {
  CellSwipe, Cell, CellGroup,
  Tag, Dialog, Checkbox, NavBar,
  Row, Col, Button, Icon, Collapse,
  CollapseItem, List
} from 'vant'
import GoodCard from '@/components/GoodCard'
import TypeSelect from '@/components/TypeSelect'
import { API } from '@/utils/api'
import Loading from '@/components/Loading'
import commonMixin from '@/utils/mixin'
export default {
  name: 'Good',
  mixins: [commonMixin],
  data () {
    return {
      type: '',
      shopid: '',
      checkAll: false,
      count: 0,
      gLoading: false,
      sort: {
        name: 0,
        stock: 0,
        price: 0
      },
      page: 1,
      list: [],
      limit: 10,
      loading: {
        first: false, // 第一次获取数据
        loadmore: false // 加载更多
      },
      finished: false
    }
  },
  components: {
    [Cell.name]: Cell,
    [CellGroup.name]: CellGroup,
    [CellSwipe.name]: CellSwipe,
    [Tag.name]: Tag,
    [Checkbox.name]: Checkbox,
    [NavBar.name]: NavBar,
    [Row.name]: Row,
    [Col.name]: Col,
    [Button.name]: Button,
    [Icon.name]: Icon,
    [Collapse.name]: Collapse,
    [CollapseItem.name]: CollapseItem,
    [List.name]: List,
    GoodCard,
    TypeSelect,
    Loading
  },
  mounted () {
    this.type = this.$route.query.category
    this.shopid = this.$route.query.shopid
  },
  watch: {
    'count' (newVal, oldVal) {
      if (newVal === this.list.length) {
        this.$set(this, 'checkAll', true)
      } else {
        this.$set(this, 'checkAll', false)
      }
    },
    'list.length' (newVal, oldVal) {
      if (!newVal) {
        this.$set(this, 'checkAll', false)
        this.sort = { name: 0, stock: 0, price: 0 }
      }
    },
    // 切换类别
    'type' (newVal, oldVal) {
      this.clear()
      this.getData()
    }
  },
  methods: {
    back () {
      this.$router.push({ name: 'Shop' })
    },
    // 切换类别时需要重置data
    clear () {
      this.sort = { name: 0, stock: 0, price: 0 }
      this.list = []
      this.page = 1
      this.finished = false
      this.loading = { loadmore: false, first: false }
    },
    // 每项checked变化
    changeCheck (key) {
      let count = this.count
      this.count = key ? count + 1 : count - 1
    },
    // 点击全选按钮
    changeAll () {
      const val = this.checkAll
      for (let i = 0; i < this.list.length; i++) {
        this.$set(this.list[i], 'checked', val)
      }
    },

    // 排序
    changeSort (key) {
      let sort = this.sort[key]
      let list
      if (sort === -1) {
        list = this.list.sort((a, b) => {
          return a[key] > b[key]
        })
        this.sort[key] = 1
      } else {
        list = this.list.sort((a, b) => {
          return a[key] < b[key]
        })
        this.sort[key] = -1
      }
      this.$set(this, 'list', list)
    },

    del (i) {
      Dialog.confirm({
        message: '确定删除当前商品吗？'
      }).then(() => {
        this.gLoading = true
        this.axios.post(API.modifyGood, {
          shopid: this.shopid, type: 2, goods: this.list[i].gid
        }).then(data => {
          this.gLoading = false
          if (this.list[i].checked) {
            this.count -= 1
          }
          this.list.splice(i, 1)
        }).catch(e => {
          this.gLoading = false
        })
      })
    },

    // 删除所选的
    delAll () {
      Dialog.confirm({
        message: '确定删除所选商品吗？'
      }).then(() => {
        this.gLoading = true
        this.axios.post(API.modifyGood, {
          shopid: this.shopid, type: 2, goods: '?'
        }).then(data => {
          this.gLoading = false
          const len = this.list.length
          let count = 0
          for (let i = 0; i < len; i++) {
            if (this.list[i - count].checked) {
              this.list.splice((i - count), 1)
              this.count -= 1
              count += 1
            }
          }
        }).catch(e => {
          this.gLoading = false
        })
      })
    },
    edit (i) {
      localStorage.setItem('good', JSON.stringify(this.list[i]))
      this.$router.push({name: 'GoodDetail', query: { shopid: this.shopid, idx: i, category: this.type }})
    },
    add () {
      this.$router.push({name: 'GoodDetail', query: {add: 1, shopid: this.shopid, category: this.type}})
    },

    // 获取商品列表
    getData (loadmore) {
      if (this.finished) return false
      let page = this.page
      if (loadmore) {
        page += 1
      } else {
        this.loading = {first: true, loadmore: false}
      }
      this.axios.post(API.getGoods, {
        category: this.type, page, shopid: this.shopid, count: this.limit
      }).then(data => {
        this.loading = {first: false, loadmore: false}
        if (loadmore) {
          this.page = page
          if (data === '' || (data.length === 0)) {
            this.finished = true
            return false
          }
        }
        data.map(function (item) {
          return {...item, checked: false}
        })
        this.list = this.list.concat(data)
      }).catch(e => {
        this.loading = {first: false, loadmore: false}
      })
    }
  }
}
</script>

<style scoped>
.good-wrap {
  padding: 46px 0;
}
.operate-btn {
  width: 65Px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f44;
  color: #fff;
  flex: 1;
}
.edit-btn {
  width: 100%;
  background: #08979c;
}
.bottom-box {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.back-top {
  background: #13c2c2;
  color: #fff;
}
.add-btn {
  color: #222;
  background: #fff;
}
/* 筛选框 */
.sort-box {
  width: 100%;
  height: 40px;
}
.sort-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 14px;
}
.sort-arrow {
  width: 10px;
  height: 40px;
  position: relative;
  display: inline-block;
}
.arrow-active {
  color: #08979c;
}
.icon-up {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  margin-top: -4Px;
}
.icon-down {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  margin-top: 3Px;
}
.type-select {
  color: #08979c;
}
.type-select span{
  margin-right: 4px;
}
</style>

<style>
.good-wrap .van-cell__value {
  color: #888;
}
.good-wrap .van-cell-swipe__right {
  width: 130Px;
  display: flex;
}
.good-wrap .van-checkbox--checked {
  background-color: #08979c;
  border-color: #08979c;
}
.good-wrap .van-nav-bar {
  background-color: #08979c;
  color: #fff;
}
.good-wrap .van-nav-bar__text {
  color: #fff;
}
.good-wrap .van-nav-bar .van-icon {
  color: #fff;
}
.good-wrap .van-cell__title {
  flex: 3;
}
.good-wrap .van-button--bottom-action {
  font-size: 14px;
}
</style>
