<template>
  <div class="home-wrap" v-if="mobile">
    <van-nav-bar
      title="店铺列表"
      fixed
      right-text="退出"
      @click-right="logout"
    >
      <!-- <i class="iconfont icon-logout" slot="right"></i> -->
    </van-nav-bar>

    <!-- 用户信息 -->
    <div class="user">
      <p class="nickname">
        昵称: {{nickname}}
      </p>
      <p class="mobile">手机号: {{mobile}}</p>
      <router-link :to="{name: 'OpenShop', query: {mobile}}">
        <van-button class="open-shop" size="small">开店</van-button>
      </router-link>
    </div>

    <!-- 店铺列表 -->
    <template v-if="list.length > 0">
      <van-cell-swipe :right-width="130"
        v-for="(item, i) in list"
        :key="item.shopid"
        @click.native="() => goDetail(item.shopid, item.shopname)"
      >
        <van-cell-group>
          <van-cell :value="item.notes" is-link :title="item.shopname" icon="shop">
          </van-cell>
        </van-cell-group>
        <template slot="right">
          <span class="operate-btn edit-btn" @click.stop="() => editShop(i)">编辑</span>
          <span class="operate-btn" @click.stop="() => closeShop(i)">关店</span>
        </template>
      </van-cell-swipe>
    </template>
    <p class="nomore" v-else>你还没有开店，请点击右上角“开店”按钮进行开店</p>

    <!-- 编辑弹框 -->
    <van-popup v-model="showEdit" position="right">
      <div class="edit-box">
        <van-nav-bar
          title="修改店铺名称"
          right-text="完成"
          left-arrow
          @click-left="showEdit = false"
          @click-right="submit"
          fixed
        />
        <van-field
          v-model="name"
          label="名称"
          placeholder="请输入店铺名称"
        />
      </div>
    </van-popup>

  </div>
</template>

<script>
import {
  CellSwipe, Cell, CellGroup,
  Tag, Dialog, Checkbox, NavBar,
  Row, Col, Button, Icon, Field,
  Popup, List
} from 'vant'
import { API } from '@/utils/api'
import commonMixin from '@/utils/mixin'
export default {
  name: 'Home',
  components: {
    [Cell.name]: Cell,
    [CellGroup.name]: CellGroup,
    [CellSwipe.name]: CellSwipe,
    [Tag.name]: Tag,
    [Checkbox.name]: Checkbox,
    [NavBar.name]: NavBar,
    [Row.name]: Row,
    [Col.name]: Col,
    [Button.name]: Button,
    [Icon.name]: Icon,
    VanDialog: Dialog,
    [Field.name]: Field,
    [Popup.name]: Popup,
    [List.name]: List
  },
  mixins: [commonMixin],
  data () {
    return {
      mobile: '',
      nickname: '',
      list: [],
      show: false, // 是否显示编辑弹框
      name: '',
      currentIdx: 0, // 当前编辑项
      showEdit: false
    }
  },
  mounted () {
    try {
      let { mobile, nickname, shopinfo } = JSON.parse(localStorage.getItem('user'))
      this.mobile = mobile
      this.nickname = nickname
      this.list = shopinfo || []
    } catch (e) {
      this.$toast('您还未登录')
      this.$router.push({name: 'Login'})
    }
  },
  methods: {
    // 关闭店铺
    closeShop (i) {
      let { shopid, shopname } = this.list[i]
      this.axios.post(API.closeShop, {shopid}).then(data => {
        this.$toast(`${shopname}已关闭`)
        this.list.splice(i, 1)
        this.update()
      })
    },

    // 编辑店铺
    editShop (i) {
      this.currentIdx = i
      this.name = this.list[i].shopname
      this.showEdit = true
    },
    // 提交修改
    submit () {
      if (!this.name) {
        this.$toast('店铺名称为必填项')
        return false
      }
      let shop = this.list[this.currentIdx]
      this.axios.post(API.editShop, {
        shopid: shop.shopid, shopname: this.name
      }).then(data => {
        this.$toast('修改成功')
        this.list[this.currentIdx].shopname = this.name
        this.showEdit = false
        this.update()
      })
    },

    // 更新操作至localStorage
    update () {
      let user = JSON.parse(localStorage.getItem('user'))
      user.shopinfo = JSON.parse(JSON.stringify(this.list))
      localStorage.setItem('user', JSON.stringify(user))
    },

    // 进入店铺详情页
    goDetail (shopid, shopname) {
      this.$router.push({ name: 'Shop', query: {shopid, shopname} })
    }
  }
}
</script>

<style scoped>
.home-wrap {
  background-color: #f2f2f2;
  min-height: 100vh;
  padding-top: 46px;
}
.user {
  margin: 20px 0;
  width: 100%;
  padding: 15px;
  background-color: #fff;
  font-size: 14px;
  position: relative;
}
.nickname {
  margin-bottom: 10px;
}
.open-shop {
  background-color: #08979c;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}
.operate-btn {
  width: 65Px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background-color: #f44;
  color: #fff;
  flex: 1;
}
.edit-btn {
  width: 100%;
  background: #08979c;
}
.icon-edit {
  color: #555;
  margin-left: 8px;
}
.edit-box {
  width: 100vw;
  height: 100vh;
  background: #f2f2f2;
  padding-top: 66px;
}
</style>

<style>
.home-wrap .van-cell-swipe__right {
  width: 65Px;
}
.home-wrap .van-nav-bar {
  background-color: #08979c;
  color: #fff;
}
.home-wrap .van-cell__left-icon {
  margin-right: 10px;
}
.home-wrap .van-cell-swipe__right {
  width: 130Px;
  display: flex;
}
</style>
