<template>
  <div class="shop-wrap" v-if="shopid">
    <loading :loading="gLoading" :text="loadingText" />
    <van-nav-bar
      :title="shopname"
      fixed
      left-arrow
      @click-right="logout"
      @click-left="back"
      right-text="退出"
    >
      <!-- <i class="iconfont icon-logout" slot="right"></i> -->
    </van-nav-bar>

    <!-- 排序框 -->
    <div class="sort-box line-bottom">
      <span class="sort-title">名称</span>
      <span class="sort-arrow" @click="changeSort">
        <i :class="['iconfont','icon-up',{ 'arrow-active': sort === 1}]"></i>
        <i :class="['iconfont','icon-down',{ 'arrow-active': sort === -1}]"></i>
      </span>
    </div>

    <!-- 分类列表 -->
    <template v-if="list.length > 0">
      <van-cell-swipe :right-width="130"
        v-for="(item, i) in list"
        :key="item.id"
      >
        <van-cell-group>
          <van-cell clickable :value="item.notes" is-link @click.native="(e) => goDetail(e, item.id)">
            <template slot="title">
              <van-checkbox v-model="item.checked" @change="changeCheck">
                {{item.name}}
              </van-checkbox>
            </template>
          </van-cell>
        </van-cell-group>
        <template slot="right">
          <span class="edit-btn operate-btn" @click.stop="openEdit(i)">编辑</span>
          <span class="del-btn operate-btn" @click.stop="del(i)">删除</span>
        </template>
      </van-cell-swipe>
    </template>

    <p class="nomore" v-if="loading">加载中...</p>
    <p class="nomore" v-if="!loading && list.length === 0">暂无数据</p>

    <!-- 新增和编辑弹框 -->
    <van-popup v-model="show" position="right">
      <div class="edit-box">
        <van-nav-bar
          :title="type"
          right-text="完成"
          left-arrow
          @click-left="show = false"
          @click-right="submit"
          fixed
        />
        <van-field
          v-model="form.name"
          label="名称"
          placeholder="请输入类别名称"
        />
        <van-field
          v-model="form.notes"
          label="备注"
          placeholder="请输入备注"
        />
      </div>
    </van-popup>

    <!-- 返回顶部 -->
    <vm-back-top :bottom="80" :height="100" />

    <!-- 底部操作 -->
    <van-row class="bottom-box line-top">
      <van-col span="5">
        <van-button bottom-action @click.native="closeShop">关店</van-button>
      </van-col>
      <van-col span="7">
        <van-button class="add-btn" bottom-action>
          <van-checkbox v-model="checkAll" @click.native="changeAll">全选</van-checkbox>
        </van-button>
      </van-col>
      <van-col span="5" class="line-left">
        <van-button bottom-action class="add-btn" @click.native="delAll">删除</van-button>
      </van-col>
      <van-col span="7" class="line-left">
        <van-button class="add-btn" bottom-action @click.native="openAdd">新增分类</van-button>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import {
  CellSwipe, Cell, CellGroup,
  Tag, Dialog, Checkbox, NavBar,
  Row, Col, Button, Icon, Field,
  Popup, List, Toast
} from 'vant'
import Loading from '@/components/Loading'
import { API } from '@/utils/api'
import commonMixin from '@/utils/mixin'
export default {
  name: 'Shop',
  mixins: [commonMixin],
  data () {
    return {
      gLoading: false, // 操作加载
      loadingText: '',
      loading: false, // 加载列表
      shopid: 0,
      shopname: '',
      checkAll: false,
      count: 0, // checked计数
      list: [],
      form: {
        name: '',
        notes: ''
      },
      show: false, // 是否显示编辑弹框
      type: '', // '编辑分类'or '新增分类'
      currentIdx: 0, // 编辑时的标记
      sort: 0 // 0-初始 1-正序 -1-逆序
    }
  },
  components: {
    [Cell.name]: Cell,
    [CellGroup.name]: CellGroup,
    [CellSwipe.name]: CellSwipe,
    [Tag.name]: Tag,
    [Checkbox.name]: Checkbox,
    [NavBar.name]: NavBar,
    [Row.name]: Row,
    [Col.name]: Col,
    [Button.name]: Button,
    [Icon.name]: Icon,
    VanDialog: Dialog,
    [Field.name]: Field,
    [Popup.name]: Popup,
    [List.name]: List,
    [Toast.name]: Toast,
    Loading
  },
  watch: {
    // 勾选每一项时，检查是否checkAll
    'count' (newVal, oldVal) {
      if (newVal === this.list.length) {
        this.$set(this, 'checkAll', true)
      } else {
        this.$set(this, 'checkAll', false)
      }
    },

    // 如果没有数据，重置checkAll和sort
    'list.length' (newVal, oldVal) {
      if (!newVal) {
        this.$set(this, 'checkAll', false)
        this.sort = 0
      }
    }
  },
  mounted () {
    let shop = JSON.parse(localStorage.getItem('currentShop'))
    if (shop) {
      this.shopid = shop.shopid
      this.shopname = shop.shopname
      this.getData(shop.shopid)
    } else {
      const { shopid, shopname } = this.$route.query
      this.shopid = shopid
      this.shopname = shopname
      localStorage.setItem('currentShop', JSON.stringify({shopid, shopname}))
      this.getData(shopid)
    }
  },
  methods: {
    back () {
      this.$router.push({name: 'Home'})
    },
    // 每项checked变化
    changeCheck (key) {
      let count = this.count
      this.count = key ? count + 1 : count - 1
    },
    // 点击全选按钮
    changeAll () {
      const val = this.checkAll
      for (let i = 0; i < this.list.length; i++) {
        this.$set(this.list[i], 'checked', val)
      }
    },
    openAdd () {
      this.show = true
      this.type = '新增分类'
    },
    openEdit (i) {
      this.show = true
      this.type = '编辑分类'
      this.currentIdx = i
      const { name, notes } = this.list[i]
      this.form.name = name
      this.form.notes = notes
    },
    submit () {
      this.loadingText = '正在提交中'
      let { name, notes } = this.form
      if (!name) {
        this.$toast('分类名称为必填项')
        return false
      }
      this.gLoading = true
      if (this.type === '新增分类') {
        this.axios.post(API.modifyCategory, {
          shopid: this.shopid, type: 1, name, notes
        }).then(data => {
          this.gLoading = false
          this.list.push({...data, checked: false})
          this.form = { name: '', notes: '' }
          this.show = false
          this.updateTypes()
        }).catch(e => {
          this.gLoading = false
        })
      } else {
        this.axios.post(API.modifyCategory, {
          shopid: this.shopid, type: 2, id: this.list[this.currentIdx].id, name, notes
        }).then(data => {
          this.gLoading = false
          this.$set(this.list[this.currentIdx], 'name', data.name)
          this.$set(this.list[this.currentIdx], 'notes', data.notes)
          this.form = { name: '', notes: '' }
          this.show = false
          this.updateTypes()
        }).catch(e => {
          this.gLoading = false
        })
      }
    },

    // 删除单项
    del (i) {
      this.loadingText = '正在删除中'
      Dialog.confirm({
        message: '确定删除当前类别吗？'
      }).then(() => {
        this.gLoading = true
        this.axios.post(API.modifyCategory, {
          shopid: this.shopid, type: 3, id: this.list[i].id
        }).then(data => {
          this.gLoading = false
          if (this.list[i].checked) {
            this.count -= 1
          }
          this.list.splice(i, 1)
          this.updateTypes()
        }).catch(e => {
          this.gLoading = false
        })
      })
    },

    // 删除所选的
    delAll () {
      this.loadingText = '正在删除中'
      let ids = []
      this.list.forEach(item => {
        item.checked && ids.push(item.id)
      })
      Dialog.confirm({
        message: '确定删除所选类别吗？'
      }).then(() => {
        this.gLoading = true
        this.axios.post(API.modifyCategory, {
          shopid: this.shopid, type: 3, id: ids.toString()
        }).then(data => {
          this.gLoading = false
          this.list.forEach((item, i) => {
            if (item.checked) {
              this.count -= 1
            }
            this.list.splice(i, 1)
          })
          this.updateTypes()
        }).catch(e => {
          this.gLoading = false
        })
      })
    },

    // 更新类别信息
    updateTypes () {
      localStorage.setItem('types', JSON.stringify(this.list))
    },
    goDetail (e, category) {
      // 如果是点击checkbox，则返回
      if (e.target.className.indexOf('checkbox--round') > -1) return false
      this.$router.push({name: 'Good', query: { category, shopid: this.shopid }})
    },

    // 排序
    changeSort () {
      let sort = this.sort
      let list
      if (sort === -1) {
        list = this.list.sort((a, b) => {
          return a.name > b.name
        })
        this.sort = 1
      } else {
        list = this.list.sort((a, b) => {
          return a.name < b.name
        })
        this.sort = -1
      }
      this.$set(this, 'list', list)
    },

    // 获取分类列表
    getData (shopid) {
      this.loading = true
      this.axios.post(API.getCategories, { shopid }).then(data => {
        this.loading = false
        localStorage.setItem('types', JSON.stringify(data))
        data.map(function (item) {
          return {...item, checked: false}
        })
        this.list = this.list.concat(data)
      }).catch(e => {
        this.loading = false
      })
    },

    // 关闭店铺
    closeShop () {
      this.axios.post(API.closeShop, {
        'shopid': this.shopid
      }).then(data => {
        this.$toast(`${this.shopname}已关闭`)
        this.update()
        this.$router.push({ name: 'Home' })
      })
    },

    // 更新店铺关闭信息
    update () {
      let user = JSON.parse(localStorage.getItem('user'))
      const idx = user.shopinfo.findIndex(shop => shop.shopid === this.shopid)
      user.shopinfo.splice(idx, 1)
      localStorage.setItem('user', JSON.stringify(user))
    }

  }
}
</script>

<style scoped>
.shop-wrap {
  padding: 46px 0;
}
.operate-btn {
  width: 65Px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background-color: #f44;
  color: #fff;
  flex: 1;
}
.edit-btn {
  width: 100%;
  background: #08979c;
}
.bottom-box {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.back-top {
  background: #13c2c2;
  color: #fff;
}
.add-btn {
  color: #222;
  background: #fff;
}
/* 编辑弹框 */
.edit-box {
  width: 100vw;
  height: 100vh;
  padding-top: 66px;
  background: #f2f2f2;
}
/* 筛选框 */
.sort-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 14px;
}
.sort-arrow {
  width: 10px;
  height: 40px;
  position: relative;
  display: inline-block;
}
.arrow-active {
  color: #08979c;
}
.icon-up {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  margin-top: -4Px;
}
.icon-down {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  margin-top: 3Px;
}
</style>

<style>
.shop-wrap .van-cell__value {
  color: #888;
}
.shop-wrap .van-cell-swipe__right {
  width: 130Px;
  display: flex;
}
.shop-wrap .van-checkbox--checked {
  background-color: #08979c;
  border-color: #08979c;
}
.shop-wrap .van-nav-bar {
  background-color: #08979c;
  color: #fff;
}
.shop-wrap .van-button--bottom-action {
  font-size: 14px;
}
</style>
