<template>
  <div class="web">
    <div class="content">
      <div class="code">
        <h1>手机扫码查看</h1>
        <img src="https://s3a.bytecdn.cn/aweme/resource/web/static/image/index/QRcode_c129445.png" alt="">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Web'
}
</script>

<style scoped>
.web {
  background-image: url("http://beidou.edianlai.com/beidou/Public/home/image/background.jpg");
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600Px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
}
.code {
  width: 200Px;
  height: 200Px;
  background: #fff;
  border-radius: 4Px;
  position: relative;
}
h1 {
  position: absolute;
  background: transparent;
  text-align: center;
  top: -80Px;
  color: #fff;
  width: 230Px;
}
</style>
