<template>
  <div class="good-card-wrap" v-if="good">
    <!-- <figure class="good-img" :style="styleImg" v-if="good.picurl"></figure> -->
    <figure class="good-img"></figure>
    <div class="good-content">
      <h1 class="name">{{good.name}}</h1>
      <p class="intro ellipsis-1">{{good.intro}}</p>
      <p class="good-price">
        <span class="price"><i>¥</i>{{good.price}}</span>
        <span class="cost">进价: ¥{{good.cost}}</span>
      </p>
      <p class="good-other">
        <span>库存: {{good.stock}}</span>
        <span>单位: {{good.unit}}</span>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'GoodCard',
  props: {
    good: Object
  },
  data () {
    return {}
  },
  computed: {
    styleImg () {
      return `background-image: url(${this.good.picurl})`
    }
  }
}
</script>

<style scoped>
.good-card-wrap {
  display: flex;
  width: 100%;
  font-size: 12px;
}
.good-content {
  flex: 1;
}
.name {
  font-size: 14px;
}
.intro {
  width: 120px;
  color: #555;
}
.good-img {
  background-image: url('http://img4.imgtn.bdimg.com/it/u=2909975059,2855988511&fm=200&gp=0.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100px;
  margin-right: 10px;
  flex-shrink: 0;
}
.good-price {
  display: flex;
  justify-content: space-between;
}
.price {
  font-size: 16px;
  color: #fa541c;
}
.price i {
  font-style: normal;
  margin-right: 4px;
}
.cost {
  margin-left: 10px;
  color: #999;
}
.good-other {
  color: #999;
  display: flex;
  justify-content: space-between;
}
</style>
