<template>
  <div class="type-select" @click="change">
    <span class="sort-title">{{title}}</span>
    <i class="iconfont icon-top" v-if="show"></i>
    <i class="iconfont icon-bottom" v-else></i>
    <div class="shadow" v-show="show">
      <div class="content">
        <span :class="['type-item',{active: active === i}]"
          v-if="types.length > 0"
          v-for="(item, i) in types"
          :key="item.id"
          @click.stop="() => onActive(i)"
        >
          {{item.name}}
        </span>
        <p class="nomore" v-else>暂无商品分类</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TypeSelect',
  props: {
    value: String
  },
  data () {
    return {
      show: false,
      active: 0,
      types: []
    }
  },
  mounted () {
    this.types = JSON.parse(localStorage.getItem('types'))
    this.active = this.types.findIndex(item => item.id === this.value)
  },
  watch: {
    value (newVal, oldVal) {
      this.active = this.types.findIndex(item => item.id === newVal)
    }
  },
  methods: {
    change () {
      this.show = !this.show
    },
    onActive (i) {
      this.active = i
      this.show = false
      this.$emit('input', this.types[i].id)
    }
  },
  computed: {
    title () {
      return this.types.length > 0 && this.types[this.active].name
    }
  }
}
</script>

<style scoped>
.shadow {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 86px);
  top: 86px;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 200;
}
.content {
  width: 100%;
  background-color: #fff;
  padding: 10px;
}
.type-item {
  color: #ccc;
  border: 1px solid #ccc;
  width: 80px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 20px;
  display: inline-block;
  margin: 4px;
}
.active {
  color: #08979c;
  border-color: #08979c;
}
</style>
